@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1c1c1c;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
}

.card {
  width: 90%;
  max-width: 500px;
  background-color: #1f2937;
  margin: auto;
  padding: 5em 2.8em;
}

.title {
  margin: 0;
  font-weight: bold;
  font-size: 2.5rem;
  color: #fff;
}

.title-highlight {
  color: #4adf86;
}

.sub-heading {
  color: #d5d4d8;
  margin: 1em 0 1em 0;
}

.btn {
  width: 12.5em;
  background-color: #047857;
  color: #fff;
  padding: 1em 0;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  margin: 2em 0;
  font-size: 0.9rem;
}

.line {
  border: 0.3px solid #2f3e53;

  margin: 0 auto;
}

.pw-wrapper {
  display: flex;
  justify-content: space-between;
}

.pw-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #273549;

  border: none;
  border-radius: 4px;
  margin-top: 1.2em;

  width: 180px;
  height: 3.5em;
  color: #55f991;
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  body {
    text-align: center;
    max-height: 420px;
  }

  .card {
    padding: 2em 0;
    margin: 1em;
  }

  .title {
    font-size: 2rem;
  }

  .title-highlight {
    font-size: 1.2rem;
  }

  .sub-heading {
    font-size: 0.6rem;
    padding: 0.8em 0;
    line-height: 1.6;
  }

  .btn {
    margin-bottom: 2em;
    font-size: 0.9rem;
  }

  .line {
    max-width: 90%;
  }

  .pw-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
